* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

html {
  height: 100vh;
}
body {
  background: rgb(23, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(23, 0, 36, 1) 0%,
    rgba(81, 24, 108, 1) 35%,
    rgba(93, 40, 117, 1) 50%,
    rgba(122, 51, 153, 1) 65%,
    rgba(120, 33, 158, 1) 100%
  );
}
#__next {
  height: 100%;
}
